# এই ফোল্ডার ওয়েব ব্রাউজার থেকে সরাসরি অ্যাক্সেস নিষিদ্ধ
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
